.app {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSPqc5vJ-r5I_ARNLwNmLV_4qyZBBtCAFamA&s');
   height: 800px;
   background-repeat: no-repeat;
   background-size: cover;

}
